*, *::after, *::before {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1B1818;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    line-height: 100%;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
    background-color: #332208;
    color: #fefefe;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    align-items: center;
}
.menu__item{
    position: relative;
    text-transform: uppercase;
}
.menu__item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #fefefe;
    transform: scaleX(0);
    transition: all 0.3s;
}
.menu__item:hover::after {
    transform: scaleX(1);
}
.menu__item + .menu__item {
    margin-left: 30px;
}
.phone{
    position: relative;
}
.phone::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #fefefe;
    transform: scaleX(0);
    transition: all 0.3s;
}
.phone:hover::after {
    transform: scaleX(1);
}

.hero {
    padding: 52px 0 100px;
}
.hero__container {
    padding-left: 30px;
}
.hero-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hero-top__content {
    padding-top: 89px;
    flex-basis: 50%;
    flex-shrink: 0;
}
.hero__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    max-width: 454px;
    margin: 0 auto 20px;
}
.hero__text {
    font-size: 24px;
    line-height: 28px;
    max-width: 470px;
    margin: 0 auto 63px;
}
.appl-download {
    display: inline-block;
    padding: 16px 19px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fefefe;
    background-color: #C5AC2D;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.appl-download:hover{
    color: #C5AC2D;
    border: 1px solid #C5AC2D;
    background-color: #fefefe;
}

.hero__slider {
    overflow: hidden;
    position: relative;
}
.hero__slider-img {
    width: 600px;
    height: 450px;
    object-fit: contain;
}
.turn-left {
    transform: rotateY(180deg);
}
.hero__slider-info {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.hero__slider-text + .hero__slider-text {
    margin-left: 13px;
}
.slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slick-dots button {
    font-size: 0;
    border: none;
    outline: none;
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #332208;
    transition: all 0.3s;
}
.slick-active button {
    width: 16px;
    height: 16px;
}

.hero-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.hero__cards {
    display: flex;
    width: 50%;
    padding: 0 20px;
}
.hero__cards-item {
    width: 150px;
    height: 150px;
    padding: 18px 11px 14px 10px;
    text-align: center;
    border: 1px solid #332208;
    font-size: 16px;
    line-height: 19px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
    cursor: pointer;
}
.hero__cards-item:hover {
    transform: scale(1.25);
}
.hero__cards-item + .hero__cards-item {
    margin-left: 50px;
}
.hero__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.hero__terms-text {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #1B1818;
}
.hero__terms-text + .hero__terms-text {
    margin-left: 20px;
}

.terms {
    padding: 100px 0;
}
.terms__inner {
    display: flex;
}
.terms__info {
    width: 300px;
    flex-shrink: 0;
    margin-right: 50px;
}
.section-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #1B1818;
}
.terms__title {
    margin-bottom: 31px;
}
.terms__text {
    font-size: 16px;
    line-height: 19px;
}
.terms__text + .terms__text {
    margin-top: 18px;
}
.terms__link {
    margin-top: 41px;
}
.terms__card {
    width: 250px;
    flex-shrink: 0;
    padding: 0 30px 25px;
    border: 1px solid #332208;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}
.terms__card:hover {
    transform: scale(1.25);
}
.terms__card + .terms__card {
    margin-left: 50px;
}
.terms__card-num {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: rgba(27, 24, 24, 0.05);
}
.terms__card-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}
.terms__card-text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
}

.advantages {
    padding: 100px 0;
}
.advantages__title {
    margin-bottom: 21px;
}
.advantages__inner {
    display: flex;
    align-items: flex-start;
}
.advantages__list {
    width: 25%;
    flex-shrink: 0;
    text-align: right;
    padding-top: 27px;
}
.advantages__item {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;
    padding-right: 26px;
    vertical-align: middle;
}
.advantages__item +.advantages__item {
    margin-top: 27px;
}
.advantages__item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #332208;
}
.advantages__item:nth-child(1),
.advantages__item:nth-child(7) {
    margin-right: 17px;
}
.advantages__item:nth-child(2),
.advantages__item:nth-child(6) {
    margin-right: 64px;
}
.advantages__item:nth-child(3),
.advantages__item:nth-child(5) {
    margin-right: 116px;
}
.advantages__item:nth-child(4) {
    margin-right: 162px;
}
.advantages__image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
}
.advantages__info {
    padding-top: 42px;
    text-align: right;
}
.advantages__text {
    max-width: 267px;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;
    margin-bottom: 30px;
    margin-left: auto;
}
.advantages__play-btn {
    display: inline-block;
    max-width: 200px;
    background-color: #C5AC2D;
    padding: 6px 34px 6px 64px;
    font-size: 16px;
    line-height: 19px;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.advantages__play-btn::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #fefefe;
    background-color: #C5AC2D;
    background-image: url(../images/play-btn-icon.svg);
    background-position: 60% 50%;
    background-repeat: no-repeat;
}
.advantages__play-btn:hover {
    border: 1px solid #C5AC2D;
    color: #C5AC2D;
    background-color: #fefefe;
}

.reviews {
    background-color: #332208;
    padding: 100px 0;
}
.reviews__title {
    color: #fefefe;
    margin-bottom: 70px;
}
.reviews__slider {
    position: relative;
}
.reviews__slider-item {
    width: 270px;
    min-height: 300px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fefefe;
    border: 1px solid #C5AC2D;
    padding: 45px 30px;
}
.reviews__slider-item + .reviews__slider-item {
    margin-left: 30px;
}
.reviews__slider-author {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.reviews__slider-text {
    font-size: 16px;
    line-height: 19px;
}
.reviews__slider .slick-dots {
    position: relative;
    display: inline-flex;
    /* align-items: center; */
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
}
.reviews__slider .slick-dots button {
    background-color: #C5AC2D;
    margin: 0 5px;
}

.questions {
    padding: 100px;
}
.questions__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questions__image {
    width: 600px;
    height: 450px;
    object-fit: cover;
}
.questions__title {
    margin-bottom: 5px;
}
.questions__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
}
.questions__input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: inherit;
    transition: all 0.5s;
}
.questions__input::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;
}
.questions__input:focus {
    
    border-bottom: 1px solid #C5AC2D
}
.questions__button {
    background-color: #C5AC2D;
    color: #fefefe;
    text-transform: uppercase;
    padding: 16px 36px;
    margin-top: 66px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.questions__button:hover {
    color: #C5AC2D;
    border: 1px solid #C5AC2D;
    background-color: #fefefe;
}

.footer {
    padding: 75px 0 24px;
    background-color: #332208;
    color: #fefefe;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}
.footer-social {
    text-align: center;
}
.footer-social__link {
    margin: 0 15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:  transparent;
    transition: all 0.5s;
}
.footer-social__link:hover {
    background-color: #fefefe;
}